
@{
    ViewBag.Title = "Редактировать заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model prak3AspMVC.Models.Orders
<h2>Покупатель № @Model.Id_orders</h2>
@using (Html.BeginForm("EditOrders", "EditOrders", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id_orders)
        <p>
            @Html.LabelFor(m => m.Name, "Название")
            <br />
            @Html.EditorFor(m => m.Name)

        </p>
        <p>
            @Html.LabelFor(m => m.Cost, "Стоимость")
            <br />
            @Html.EditorFor(m => m.Cost)
        </p>

        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}

