@model prak7MVC.Models.Guests

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый Приглашенный</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.name, "Имя")
    <br />
    @Html.EditorFor(model => model.name)
    <br />
    <br />
    @Html.LabelFor(model => model.email, "Email")
    <br />
    @Html.EditorFor(model => model.email)
    <br />
    <br />
    @Html.LabelFor(model => model.confirm, "Вы придете?")
    <br />
    @Html.EditorFor(model => model.confirm)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}


