
@{
    ViewBag.Title = "CreateCustomers";
}

@model prak3AspMVC.Models.Customers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый покупатель</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Имя")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.phoneNumber, "Телефон")
    <br />
    @Html.EditorFor(model => model.phoneNumber)
    <br />
    <br />
    @Html.LabelFor(model => model.Id_orders, "Номер заказа")
    <br />
    @Html.EditorFor(model => model.Id_orders)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}<h2>CreateCustomers</h2>

