
@{
    ViewBag.Title = "EditCustomers";
}

@model prak3AspMVC.Models.Customers
<h2>Покупатель № @Model.Id_customers</h2>
@using (Html.BeginForm("EditCustomers", "CreateStringTable", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id_customers)
        <p>
            @Html.LabelFor(m => m.Name, "Имя")
            <br />
            @Html.EditorFor(m => m.Name)

        </p>
        <p>
            @Html.LabelFor(m => m.phoneNumber, "Номер телефона")
            <br />
            @Html.EditorFor(m => m.phoneNumber)
        </p>

        <p>
            @Html.LabelFor(m => m.Id_orders, "Номер заказа")
            <br />
            @Html.EditorFor(m => m.Id_orders)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}

